.example-spacer{
    flex: 1 1 auto;
}

span{
    padding: 10px;
}

/*Definindo o tamanho da logo*/
img{
    height: 50px;
    width: 50px;
}

.menu{
    background-color: #3d4fb5;
}

a{
    text-decoration: none;
    color: white;
}