main{
    min-height: 500px;
}

/*Configurações referentes ao Banner*/
#section-banner{
    min-height: 400px;
    max-height: 500px;
}

#section-banner img{
    height: 500px;
    object-fit: cover;
}

/*Configurações referentes aos cards*/
.example-card {
    max-width: 400px;
}

/*
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
*/

mat-grid-list{
    margin: 10px 0px;
}

mat-grid-tile{
    padding: 10px;
    border-radius: 30px;
}

mat-card-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-actions{
    display: flex;
    justify-content: space-around;
}

mat-card-actions p{
    color: red;
    font-size: 28px;
    font-weight: 800;
}

mat-card img{
    height: 300px;
    width: 300px;
}